<div class="about row">
  <div class="col-md-12">
    <h2>About me </h2>
    <br />
    <p>2013年，考入山西农业大学信息与计算科学专业，开始接触编程。</p>
    <p>2014年，因为数学建模更加喜欢编程。</p>
    <p>2017年，大学毕业，开始北漂。</p>
    <p>2017年-2019年，在北京工作过两年，主要集中在计量领域。</p>
    <p>2019年，开始写博客。</p>
    <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
    <p>我是南宫燚滨，一个仍然在路上，向往自由和梦想的人！</p>
    <h2>Contact</h2>
    <p><strong>Personal</strong></p>
    <ul>
      <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
      <li>我的微信：<strong>LTZ94721990</strong>（备注：博客）</li>
    </ul>
    <h2>
      History
    </h2>
    <ul>
      <li>2019年，建站，托管于 Github Pages。</li>
    </ul>
    <!-- Comments -->
    <div class="comment">
      {% include comments.html %}
    </div>
  </div>
</div>